html,
body {
  margin: 0;
  padding: 0;
}

.screen-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.otp-container {
  padding: 20px;
  width: 500px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
}

.otp-input {
  width: 64px;
  height: 100px;
  border-radius: 5px;
  font-size: 80px;
  text-align: center;
  border: 1px solid rgb(249, 245, 245);
}

.otp-input:focus {
  outline: none;
  border: 1px solid #9db8f5;
  height: 102px;
  box-shadow: 0 0 0 2px #6c9ac2;
}

.otp-input:not(:placeholder-shown) {
  border: 1px solid #6c9ac2;
  box-shadow: 0 6px 5px 0 rgb(211, 202, 202);
}

.foot-note {
  background-color: #eeeeee;
  color: #999999;
  width: 400px;
  border-radius: 5px;
  margin: auto;
  margin-top: 20px;
  padding: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
